html {
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  border-radius: 50%;
  box-shadow: 0 0 3pt 2pt white;
  transform: rotate(0deg);
  transition: box-shadow 0.5s ease;
  transition: border-radius 0.5s ease;
  transition: transform 0.45s ease;
}
.logo:hover {
  border-radius: 45%;
  box-shadow: 0 0 3pt 2pt #FF69B4;
  transform: rotate(360deg);
}

.button {
  margin-top: 1%;
  color: white;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.button:hover {
  color: white !important;
}

.box {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Thanks to codemyui.com for the scroll animation */

.icon-scroll, .icon-scroll:before {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -20px;
    margin-top: 1%;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    opacity: 0.4
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    left: 50%
}
@keyframes scroll {
    0% {
        opacity: 0.75
    }
    100% {
        opacity: 0;
        transform: translateY(46px)
    }
}

section[ id= "1"]:target ~ section[ id= "1"] {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
    height: 100%
}

section[ id= "2"]:target ~ section[ id= "2"] {
    -webkit-transform: translateY( -500px);
    transform: translateY( -500px );
    height: 100%
}

section[ id= "3"]:target ~ section[ id= "3"] {
    -webkit-transform: translateY( -1000px);
    transform: translateY( -1000px );
}
